<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <p-card>
    <div style="text-align: center; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); background-color: #ffffff; max-width: 400px;">
        <!-- Your logo image goes here -->
        <img src="assets/x.png" alt="Logo" style="max-width: 200px; margin-bottom: 20px;">

        <!-- Optional text or additional content -->
        <h1 style="font-size: 2em; color: red;">Accès refusé</h1>
        <p style="font-size: 1.2em; color: #19ad75; margin-bottom: 30px;">Désolé, vous n'avez pas la permission d'accéder à cette page.</p>
       
    </div>
</p-card>
</div>